<h2>Join Lil Twitter today.</h2>

<form action="/signup" method="post">
  <input type="text" name="username">
  <br>
  <label for="email_address">Email Addres
  </label>
  <input type="text" name="email_address">
  <br>
  <label for="password">Password</label>
  <input type="password" name="password">
  <br>
  <input type="submit" value="create">
</form>
