<div style="color: red;">
  <% if session[:errors] %>
    <p><%= session[:errors][0] %></p>
    <%session[:errors] = nil%>
  <%end%>
</div>

<h2>Join Lil Twitter today.</h2>

<form action="/users/new" method="post">
  <br>
  <input type="text" name="username" placeholder="username">
  <br>
  <input type="text" name="email" placeholder="email">
  <br>
  <input type="password" name="password" placeholder="password">
  <br>
  <input type="submit" value="create">
</form>


