<h2>Join Lil Twitter today.</h2>

<form action="/signup" method="post">
  <br>
  <input type="text" name="username" placeholder="username">
  <br>
  <input type="text" name="email" placeholder="email">
  <br>
  <input type="password" name="password" placeholder="password">
  <br>
  <input type="submit" value="create">
</form>
