<a href="/user/<%= session[:success] %>/edit">


<% @posts.each do |post|%>
  <a href= "/users/<%= params[:user_id] %>/posts/<%= params[:post_id] %>"><%= post.content %></a>
<%end%>


<form action="/users/:user_id/posts" method="POST">
  <input type="text" placeholder="Tweet Here" name="post">
  <input type="submit" value="Tweet">
</form>
